{% extends "user/home.html" %}
{% load static %}

{% block title %}
  Ticket | page
{% endblock title %}

{% block main-body %}
  <div class="main-header">
    <div><h1>Create New Ticket</h1></div>
    <div><a href="{% url 'maintenance:complain_list' %}">Ticket List</a></div>

  </div>
  

  <form id="ticket-form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label me-3" for="ticket-number"><h6>Ticket No.</h6></label>
        <input class="form-control-inline" value="{{issue.ticket_num}}" type="text" name="ticket-number" id="ticket-number" disabled>    
    </div>
    
    <div class="row align-items-center">
        <div class="mb-3 col">
          <label class="form-label" for="machine-select"><h6>Select Machine</h6></label>
          <select class="form-control" type="text" name="machine-select" id="machine-select" onchange="getMachineDetails()" required> 
              <option value="">List of Equipments</option>
              {% for equipment in equipments %}
                <option value="{{ equipment.id }}" {% if equipment.id == issue.equipment.id %}selected{% endif %}>{{ equipment.name }}</option>  
              {% endfor %}
          </select>   
      </div>
      <div class="mb-3 col">
          <label class="form-label" for="machine-num-select"><h6>Select Machine Number</h6></label>
          <select onmouseenter="onMachineSelectChange()" class="form-control" type="text" name="machine-num-select" id="machine-num-select">
            <option value="{{ issue.machine_id }}">
              {% if issue %}
                {{ issue.machine_id.name}}
              {% else %}
                Select a Machine Number
              {% endif %}
            </option>
          </select>      
      </div>
    </div>

    <div class="mb-3 col">
      <label class="form-label" for="malfunction-part"><h6>Malfunction part</h6></label>
      <select class="form-control" type="text" name="malfunction-part" id="malfunction-part" multiple>
        <option value="">Select Malfunctioning part if any</option>
      </select>
      <div class="search-part">
        <div>
          <label for="search-bar">Search</label>
          <input type="text" name="search-bar" id="search-bar">
          <button type="button" class="btn btn-primary m-0" onclick="searchSpare('malfunction-part', 'search-bar')"><i class="fa fa-search"></i></button>
        </div>
        
        <div id="search-help-text" class="form-text">
          enter your search in small letters
        </div>
      </div>   
      
    </div>
    

    <div class="row">
      <div class="mb-3 col">
        <label class="form-label" for="machine-section"><h6>Machine section</h6></label>
        <input class="form-control" type="text" name="machine-section" id="machine-section">    
      </div>
      <div class="col">
        <label class="form-label" for="machine-hours"><h6>Machine Hours</h6></label>
        <input class="form-control" type="text" name="machine-hours" id="machine-hours" required> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="issue-type"><h6>Type</h6></label>
        <select class="form-control" type="text" name="issue-type" id="issue-type">
          <option value="C">Corrective</option>
          <option value="P">Preventive</option>
          <option value="B">Breakdown</option>
          <option value="Ca">Calibration</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label" for="issue-priority"><h6>Issue Priority</h6></label>
        <select class="form-control" type="text" name="issue-priority" id="issue-priority">
          <option value="H">High</option>
          <option value="M">Medium</option>
          <option value="L">Low</option>
        </select>
      </div>  
    </div> 



    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label" for="problem-nature"> <h6>Problem Nature</h6> </label>
          <select class="form-control" type="text" name="problem-nature" id="problem-nature">
            <option value="El">Electrical</option>
            <option value="Me">Mechanical</option>
            <option value="Hy">Hydraulic</option>
          </select>    
        </div>  
      </div>
      <div class="col">
        <div class="mb-3">
          <label class="form-label" for="date-time"> <h6>Date/Time</h6> </label>
          <input  onclick="getCurrentDateTime()" class="form-control" type="datetime-local" name="date-time" id="date-time" readonly required>    
      </div>
      </div>
        
    </div>
    

    <div class="mb-3">
      <label class="form-label" for="malfunction-desc"><h6>Description</h6></label>
      <textarea class="form-control" type="text" name="malfunction-desc" id="malfunction-desc" rows="4"></textarea>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label" for="assign-to-department"> <h6>Assign To (Department)</h6> </label>
          <select class="form-control" type="text" name="assign-to-department" id="assign-to-department">
            {% for d in departments %}
              <option value="{{d.pk}}">{{d.name}}</option>
            {% endfor %}
          </select>    
        </div>  
      </div>
      <div class="col">
        <div class="mb-3">
          <label class="form-label" for="assign-to-person"> <h6>Assign To (Person)</h6> </label>
          <select class="form-control" type="text" name="assign-to-person" id="assign-to-person">
            {% for user in users %}
              <option value="{{user.pk}}">{{user.name}}</option>
            {% endfor %}
          </select>     
      </div>
      </div>

    
    <div class="mb-3">
      <label class="form-label" for="machine-images"><h6>Upload Images</h6></label>
      <input class="form-control" type="file" name="machine-images[]" id="machine-images" multiple>
    </div> 

    <input class="form-control submit-btn" type="submit" value="Submit">
    

    
  </form>


  <script src="{% static 'maintenance/js/custom-complain.js' %}"></script>
{% endblock main-body %}