{% extends "user/home.html" %}
9

{% block title %}
  Complain View
{% endblock title %}

{% block main-body %}
    <div class="header">
      <h1><u>Work Order Status</u></h1>
      <br>
      <button class="compalain"> <a href="{% url 'User:create_complain' %}"><i class="fa fa-plus"> New</i></a></button>
    </div>
    <div class="table-responsive">
      <table class="table  table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">WORK ORDER</th>
            <th scope="col" class="text-center">EQUIPMENT</th>
            <th scope="col" class="text-center">DESCRIPTION</th>
            <th scope="col" class="text-center">DEPARTMENT</th>
            
            <!-- <th scope="col" class="text- bg-black">PRIORITY</th> -->
            <!-- <th scope="col" class="text-center bg-black">SCHEDULE DATE</th> -->
            <!-- <th scope="col" class="text-center bg-black">TYPE</th> -->
            <th scope="col" class="text-center">STATUS</th> 
          </tr>
        </thead>
        <tbody>
          {% for issue in issue_list  %} 
            <!-- {% if issue.priority == "High" %} -->
              <!-- <tr class="table-danger align-middle text-center"> -->
            <!-- {% elif issue.priority == "Moderate" %} -->
             <!-- <tr class="table-warning align-middle text-center"> -->
            <!-- {% else %} -->
            <!-- <tr class="table-primary align-middle text-center"> -->
            <!-- {% endif %} -->
                <th scope="row" class="text-center">{{ forloop.counter }}</th>
                <td class="text-center"> <a href="{% url 'User:review_complain' pk=issue.pk %}">{{ issue.ticket_num}}</a></td>
                <td class="text-center">{{ issue.description_user }}</td>
                <td class="text-center">{{ issue.user.department}}</td>
                <td class="text-center">{{ issue.machine_id.name }}</td>
                <!-- <td>{{ issue.priority  }}</td>
                <td>{{ issue.date_time.date }} </td>
                <td>{{ issue.type }}</td> -->
                <td class="text-center"><a href="{% url 'maintenance:complain_detail' pk=issue.pk %}">{{issue.status}}</a></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    
<!-- 
    {% for issue in issue_list  %}
    <div class="issue-section">
      <div class="issue-detail issue-side">
        <div class="ticket">
          <h1> <a href="{% url 'maintenance:complain_detail' pk=issue.pk %}">Ticket# {{issue.ticket_num}}</a> <span></span> </h1>
        </div>
          
        <div class="issue-detail equipment-detail">
            <div class="equipment">
              <h4>Equipment: {{ issue.equipment.name }} </h4>
            </div>
            <div class="machine">
              <h4>Machine No: {{ issue.machine.name }} </h4>
            </div>
        </div>
        <div class="issue-detail">
            <h4>Description:</h4>
            <p>{{ issue.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

    -->

{% endblock main-body %}



