{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'user/login.css' %}" />
    <style>
      
    </style>
  </head>
  <body>
    <div class="container">
      <img
        class="top-circle-img"
        src="{% static 'index/images/logo1.svg' %}"
        alt=""
      />
      <div class="top-circle-left"></div>
      <div class="left-circle"></div>
      <div class="top-circle-right"></div>
      <div class="right-circle"></div>
      <div class="bottom-circle"></div>
      <img
        class="logo-img"
        src="{% static 'index/images/logo1.svg' %}"
        alt=""
      />
      <div class="inner-container">
        <div class="top-bar">
          <img
            src="{% static 'index/images/fulllogo_transparent_nobuffer.png' %}"
            alt="Logo"
          />
        </div>
        <p class="main-heading">WELCOME to your Maintenance 911</p>

        {% if error %}
        <div class="error">
          <h1>{{ error }}</h1>
        </div>
        {% endif %}

        <form method="post" action="{% url 'User:login' %}">
          {% csrf_token %}

          {% comment %} <label for="username">UserName</label> {% endcomment %}
          <input class="box" type="text" name="username" id="username" placeholder="username"/>

          {% comment %} <label for="passowrd">Password</label> {% endcomment %}
          <input class="box" type="password" name="password" id="password" placeholder="password"/>

          <button type="submit">Log In</button>
        </form>
      </div>
    </div>

    <script src="" async defer></script>
  </body>
</html>
