body {
  background-color: #2d3e5c;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffd43a;
}

.top-bar {
  margin-top: 3vh;
}

.top-bar img {
  padding: 10px;
  width: 25vw;
  height: inherit;
  border-radius: 10px;
}

.main-heading {
    margin-top: 6vh;
    font-weight: bold;
    font-size: large;
}

.error h1 {
  font-weight: light;
  font-size: 12px;
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

form label {
  color: #ffd43a;
  text-align: center;
}

form input {
  background-color: #2d3e5c !important;
  color: #ffd43a !important;
  border: 3px solid #ffd43a;
  box-shadow: 3px 3px 5px #888888, -3px -3px 5px #aaaaaa;
  padding: 0.5em;
  border-radius: 5%;
  margin: 0.5em 1.5em;
}

form button {
  background-color: #2d3e5c;
  color: #ffd43a;
  border: 1px solid #ffd43a;
  margin-top: 2em;
  padding: 0.7em;
  width: 20vw;
  align-self: center;
}

/* .box{
    background-color: #2D3E5C;
    color: #FFD43A;
    padding: 0.5em;
    margin:0.2em 1em 2em 1em;
} */
