
h1{
    margin: 20px;
}

h2{
    margin: 20px;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.nav-icon-left{
    margin: 5px;
}


nav a>img{

    height: 10vh;
    width: auto;
}

#add-issue-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;   
    align-items: center;
    gap: 2px; 
}

.table-row{
    color: red;
}