{% extends "user/home.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a06ab02596.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'user/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'maintenance/css/complain-list.css' %}">
    <link rel="stylesheet" href="{% static 'User/home.css' %}">
    <link rel="stylesheet" href="{% static 'User/complain-tracking.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock head %}

{% block title %}
  Track Complain
{% endblock title %}


{% block main-body %}
  <div class="timeline-main-heading">
    <span style="font-size: large; font-weight: bold;">Complaint Resolved</span>
    <span class="timeline-description">on Mon 19 Oct 20</span>
  </div>
  <div class="timeline">
    <div class="timeline-event">
      <div class="timeline-point-track-container">
        <div class="timeline-point"></div>
        <div class="timeline-track"></div>
      </div>
      <div class="timeline-content">
        <div>
          <span class="timeline-heading">
            Complaint Raised
          </span>
          <span class="timeline-date">
            {{ issue.date_time }}
          </span>
        </div>
        <div class="timeline-description">
          <span>
            Your complain has been recieved
          </span>   
        </div>
      </div>
    </div>
    <div class="timeline-event">
      <div class="timeline-point-track-container">
        <div class="timeline-point"></div>
        <div class="timeline-track"></div>
      </div>
      <div class="timeline-content">
        <div>
          <span class="timeline-heading">
            Engineer Review
          </span>
          {% if issue.status == 'REVIEWED' or issue.status == 'Approved' %}
          <span class="timeline-date">
            {{ issue.machineissue.reviewDate }}
          </span>
          <div class="timeline-description">
            <span>
              {{ issue.machineissue.description_reviewer }}
            </span>
          </div>
          {% else %}
          <span class="timeline-date">
            Pending review
          </span>
          {% endif %}
        </div>

      </div>
    </div>
    <div class="timeline-event">
      <div class="timeline-point-track-container">
        <div class="timeline-point"></div>
        <div class="timeline-track"></div>
      </div>
      <div class="timeline-content">
        <div>
          <span class="timeline-heading">
            HOD Approval
          </span>
          {% if issue.status == "Approved" %}
            <span class="timeline-date">
                {{ issue.issue_remarks.date_time }}
            </span>
        <div class="timeline-description">
            <span>
                Complain has been approved
            </span>
        </div>
          {% else %}
          <span class="timeline-date">
            Pending HOD approval
          </span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="timeline-event">
      <div class="timeline-point-track-container">
        <div class="timeline-point"></div>
        <div class="timeline-track" style="flex-grow: 0;"></div>
      </div>
      <div class="timeline-content">
        <div>
          <span class="timeline-heading">
            Complain Closing
          </span>
          {% if issue.status == 'CLOSED' %}
          <span class="timeline-date">
            {{ issue.machineissue.issueclosing.date_ended }}
          </span>
          <div class="timeline-description">
            <span>
              {{ issue.machineissue.issueclosing.remarks }}
            </span>
          </div>
          {% else %}
          <span class="timeline-date">
            Pending
          </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock main-body %}