body{
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #FFD43A;
}

form .comment-section{
    margin: 1rem;
}

form .comment-section > button{
    display: flex;
    flex-direction: row;
    background-color:#FFD43A;
    color: #2D3E5C;
    border-radius: 10px;
    margin-top: 1em;
    margin-left: 10px;
    padding: 0.5rem;
}

form .comment-section > input{
    background-color: #2D3E5C;
    border: 1px solid #FFD43A;
    padding: 0.5rem;
    color: #FFD43A;
}

form .submit-section > button{
    background-color: #FFD43A;
    color: #2D3E5C;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem;

}

