.main{
    margin: 1.2rem 0.5rem;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

img{
    margin: 1.2rem;
    width: auto;
    height: 200px;
}

.detail-section{
    background: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.detail-section ul{
    margin: 1.5rem;
}